<div class="well">
  <% @todos.each do |todo| %>
    <p><%= "#{todo.description} completed? :#{todo.completed}" %></p>
    <%= link_to 'show', todo  %>
  <% end %>
</div>


<%= link_to 'crear ToDo', todos_new_path %>
