<div class="well">
  <% @todos.each do |todo| %>
    <p><%= "#{todo.description} completed? :#{todo.completed}" %></p>
    <%= link_to 'Show', todo  %>
    <%= link_to 'Edit', edit_todo_path(todo) %>
  <% end %>
</div>


<%= link_to 'crear ToDo', todos_new_path %>
